@inmport'../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import'../node_modules/bootstrap/scss/bootstrap.scss'

a 
    text-decoration: none
#banner    
    height: 25%
    width: 100%